{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="container mt-sm-5 pt-5 pb-5 col-md-10 col-lg-6 m-auto div-back-login rounded text-white">
		<h1 class="text-center display-5">Connexion</h1>
		<div class="w-50 m-auto mt-4 text-white">
			{% if error %}
				<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			<form action="{{ path('app_login') }}" method="post">
				<label class="form-label text-white" for="username">Email</label>
				<input class="form-control border border-dark" type="text" id="username" name="_username" value="{{ last_username }}">

				<label class="form-label text-white mt-3" for="password">Mot de passe</label>
				<input class="form-control border border-dark" type="password" id="password" name="_password">

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="d-flex flex-column justify-content-center mt-4">
					<button class="btn btn-info  col-md-6 col-lg-5 col-xl-5  m-auto" type="submit">Se connecter</button>
					<a class="text-white text-center mt-3 text-decoration-none" href="{{ path('app_register') }}">Ou créer un compte</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
