<div class="card p-0 m-5 border-0 animate__animated animate__fadeIn" style="width: 18rem;">
	<img src="{{ dive.picture }}" class="card-img-top" alt="dive">
	<div class="card-body text-white text-center">
		<h5 class="card-title text-center ">{{dive.city}}
		</h5>
		{% if is_granted('ROLE_USER') %}
			<i class="bi text-white {{ app.user.isInBookmarks(dive) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
		{% endif %}
		<p class="card-text text-center">{{dive.country}}</p>
		<a href="{{path('app_dive_details', {'dive': dive.id})}}" class="btn btn-info text-center w-100">Détails</a>
		<a id="bookmarks" href="#" class="btn btn-info text-center col-4 col-xl-3 align-self-center w-100 mt-2">Supprimer
		</a>

	</div>
</div>
