{% extends 'baseAdmin.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}New Dive
{% endblock %}

{% block body %}
	<div class="container mt-5 pt-3 rounded div-back-admin text-white w-50 m-auto">
		<h1 class="text-center">Créer un spot de plongée</h1>
		<div class="w-50 m-auto mt-5 text-white">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<div class="text-center pb-3">
				<button class="btn btn-light">{{ button_label|default('Save') }}</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>

	<a href="{{ path('app_dive_index') }}" class="btn btn-light ms-3">Retour à la liste</a>

{% endblock %}
